.citacao, aside, footer {
    padding: 20px;
}
.citacao {
    background-color: #D9E5E3;
    border: #C2CCCA 10px solid;
    width: 250px;
    box-sizing: border-box;
    margin: 20px 40px;
}
.citacao cite {
    font-style: italic;
    display: block;
    text-align: right;
}
.fiat {
    float: right;
}
.petrobras {
    float: left;
}